{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>전라남도교육청 : 학교민주주의 지수</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
</head>

<body>
<header id="header">
    <section class="header">
        <a class="sta" href="/jns/main"><img src="/static/main/images/logo.png" alt="전라남도 교육청 로고" /></a>
        <nav class="jn">
            <ul>
                <li class=""><a href="/jns/about1">학교민주주의 정책 이해</a></li>
                <li class=""><a href="/jns/about2">학교민주주의 지수 안내</a></li>
                <li class=""><a href="/jns/post">공지사항</a></li>
                <li class=""><a href="/jns/file">자료실</a></li>
                <li class=""><a href="/jns/admin-login">학교관리자</a></li>
            </ul>
        </nav>
        <img src="/static/main/images/sta04.png" alt="전남교육 아이좋아 로고" class="sta04">
    </section>
</header>


<div class = "account">
    <h2>{{ school_name }} 관리자 계정입니다</h2>

    <nav>
        <ul>
            <li><a href="{% url 'statistics_admin_page' %}"> {{ school_name }} 통계관리</a></li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="{% url 'download_survey_data' %}">통계 파일 다운로드</a></li>  <!-- 다운로드 버튼 -->
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="{% url 'change_password' %}">비밀번호 변경</a></li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="{% url 'admin_logout' %}">로그아웃</a></li>
        </ul>
    </nav>
</div>

<footer id="footer">
    <section class="footer">
        <a class="sta"><img src="/static/main/images/logo.png" alt="전라남도 교육청" /></a>
        <p class="copy">
            (58564) 전라남도 무안군 삼향읍 어진누리길 10
        </p>
    </section>
</footer>
</body>
</html>