<!-- 찐최종 -->
{% load static %}
<script src="{% static 'main/js/statistics_graph.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<!-- 응답한 학생 수 -->
<div class="response-count-container">
    <h3>응답 인원 수: {{ people_count }}명</h3>
</div>

<!-- 그래프 그리기 -->
<div class="canvas-container">
    <div class = "question_canvas">
        <h3> 문항별 평균 </h3>
        <canvas id="student_question_canvas" width="400" height="200"></canvas>
    </div>
    <div class = "section_canvas">
        <h3> 영역별 평균 </h3>
        <canvas id="student_section_canvas" width="400" height="200"></canvas>
    </div>
    <div class = "total_canvas">
        <h3> 전체 평균 </h3>
        <canvas id="student_total_canvas" width="400" height="200"></canvas>
    </div>
</div>


</body>
</html>