{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>전라남도교육청 : 학교민주주의 지수 설문조사</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/info.css' %}">
</head>

<body>
<header id="header">
    <section class="header">
        <a class="sta" href="/jns/main"><img src="/static/main/images/logo.png" alt="전라남도 교육청 로고" /></a>
        <nav class="jn">
            <ul>
                <li class=""><a href="/jns/about1">학교민주주의 정책 이해</a></li>
                <li class=""><a href="/jns/about2">학교민주주의 지수 안내</a></li>
                <li class=""><a href="/jns/post">공지사항</a></li>
                <li class=""><a href="/jns/file">자료실</a></li>
                <li class=""><a href="/jns/admin-login">학교관리자</a></li>
            </ul>
        </nav>
        <img src="/static/main/images/sta04.png" alt="전남교육 아이좋아 로고" class="sta04">
    </section>
</header>


<h1>설문이 완료되었습니다</h1>

</body>
</html>