body {
    font-family: 'Nanum Gothic', sans-serif;
}

.info-container {
    width: 55%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.info-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 25px;
    margin-right: 10px;
}

select, input[type="text"] {
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}