/* 설문 완료 메시지 스타일 */
.complete-container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 100px auto; /* 헤더와의 간격을 위해 margin 추가 */
}

h1 {
    font-size: 28px;
    color: #090a0d;
    margin-bottom: 20px;
}

.return-button {
    background-color: #0046A8;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.return-button:hover {
    background-color: #003080;
}
